<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory name="DEFAULT_SESSION_FACTORY">
        <property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
        <property name="hibernate.connection.password">MRO987DEV</property>
        <property name="hibernate.connection.url">jdbc:oracle:thin:@tvCOMB10gDB.cminl.oa:1521:tcomb10g</property>
        <property name="hibernate.connection.username">csp</property>
        <property name="hibernate.default_schema">CSP</property>
        <property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
    </session-factory>
</hibernate-configuration>
