<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd 
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd 
	http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.1.xsd 
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd 
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd"
	default-lazy-init="true" default-autowire="byName" default-init-method="init" default-destroy-method="destroy">
	
	<bean id="webFilterExecutorScannerAp" class="com.inx.aspect.impl.BaseAnnotationService">
		<property name="packagesToScan" value="mro.base.sso" />
		<property name="classScanner">
			<bean class="com.inx.aspect.impl.SimpleAnnotationScanner">
				<property name="annotationClass" value="com.inx.web.servlet.filter.annotation.WebFilterExecutor" />
			</bean>
		</property>
	</bean>

</beans>
